@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .opacity-animate {
      animation: opacity-animate 1.5s;
   }


   @keyframes opacity-animate {
      from {
         opacity: .4
      }

      to {
         opacity: 1
      }
   }

   .item-hero {
      min-width: calc(calc(100vw - 400px) / 5);
   }
}

@layer components {}